.jumbotron {
  @include gradient-vertical(#005daa, lighten(#005daa, 10%), 50%);
  color:#fff;
  border-bottom:3px solid $gray-lighter;
  border-top:none;
  text-shadow: darken(#005daa,10%) 0.1em 0.1em 0.2em;
  margin:0;

  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-shadow: darken(#005daa,10%) 0.1em 0.1em 0.1em;
  }
}