<div class="container-fluid content" scroll-watch="{from: 0, to: -1}"
    sw-class="{
        'content-out' : $positive <= 107,
        'content-in'  : $positive > 107
    }"
    sw-broadcast="{
        'load more end': true
    }">
    <div class="list-group">
        <div class="list-group-item" ng-repeat="item in items.models">
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-responsive" src="http://placehold.it/200x200" />
                </div>
                <div class="col-xs-9">
                    <p>{{item.get('name')}}</p>
                    <p><small>{{item.get('short_description')}}</small></p>
                    <a ng-click="swapName(item)">Swap!</a>
                </div>
            </div>
        </div>
        <div class="list-group-item" ng-show="items.loadingNext">
            <span class="fa fa-gear fa-spin"></span>
        </div>
    </div>
</div>
